<article data-id="${group.id}" data-name="${group.name}" data-contest_count="${group.group-contest_count}" data-problem_count="${group.problem_count}" data-member_count="${group.member_count}">
    <header>
        小组名称：${group.name}
    </header>
    <section>
        <p>
            小组比赛：<span>共 ${group.contest_count} 场</span>

        </p>
        <p>
            小组比赛列表
        </p>
        <p>
            小组题目：<span>共 ${group.problem_count} 道</span>
        </p>
        <p>
            小组题目列表
        </p>
        <p>
            小组成员：<span>共 ${group.member_count} 道</span>
        </p>
        <p>
            小组成员列表
        </p>
    </section>
</article>