<div style="width:100%;margin:30px 50px;float:left;text-align:left;color:#f769a0;font-size:150%;text-shadow:0 0 5px rgba(247,105,160,.8);line-height: 30px;">
    <input type="hidden" name="user-info" data-id="{user.id}" data-usernmae="{user.username}" data-nickname="{user.nickname}" data-student_id="{user.student_id}" data-school="{user.school}" data-college="{user.college}" data-email="{user.email}"/>
    <img src="{user.head}" width="100px" alt=""/>
    <h4>俺叫{user.username}<h4>
        <h4>俺们村银都管俺叫 <b>{user.nickname}</b></h4>
        <h4>俺的wifi密码是:{user.password}</h4>
        <p>其实俺自己是这么想的:<b>{user.self_intro}</b></p>
        <a href="mailto:{user.email}">这是俺的邮箱儿,你们可以随便发小广告 {user.email}</a>
        <p>介个是俺的学号{user.student_id}</p>
        <p>俺是非主流，俺为自己代言~~~</p>
</div>