#calendar {
    display: block;
    position: relative;
    margin: 0;
    height: 77px;
    width: 385px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#calendar>li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    width: 55px;
    height: 80px;
    margin-left: 0px;
    background: transparent;
    box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, .05);
    z-index: 5;
}
#calendar>li>span:first-child {
    display: block;
    position: relative;
    background: transparent;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 16px;
    color: #fff;
    cursor: default;
}
.day-box {
    display: block;
    box-sizing: border-box;
    position: relative;
    /*background-color: rgba(255,255,255,0.4);*/
    background-color: rgba(255,255,255,0.4);
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 3em;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s, padding-left 0.5s, padding-top 0.5s, font-size 0.2s, text-shadow 0.6s;
}
#calendar .active span{
    color: #555;
}
.day-box:hover {
    text-decoration: none;
    padding-left: 8px;
    padding-top: 12px;
    font-size: 3.2em;
    box-shadow: inset 4px 0px 10px 3px rgba(200,200,200,0.1);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .3);
}
.single-number:hover {
    padding-left: 18px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .3);
}
.day-box:active {
    /*background-color: rgba(137, 184, 237, 0.60);*/

    /*background-color: rgba(137, 184, 237, 0.9);*/
    background-color: #69CCE9;
}

.day-box span {
    display: block;
    position: relative;
    font-size: inherit;
    font-weight: 900;
    color: inherit;
    width: auto;
    margin-left: -4px;
    margin-top: -3px;
}

.day-box:last-child {
    box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.25);
}
.day-todo-bar{
    display: block;
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgba(255,255,255,0.3);
}

.day-todo-bar i {
    display: block;
    position: relative;
    height: 100%;
    width: 50%;
    background-color: rgba(255,255,255,0.8);
}

#calendar-corner {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid #80ACB9;
    border-left: 30px solid transparent;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.8s;
}
#calendar-corner:before {
    content: "...";
    display: block;
    position: absolute;
    left: -21px;
    top: 8px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}
#calendar-corner:hover {
    opacity: 0.9;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.05);
}
