@font-face {
    font-family: 'DTL';
    src: url(../fonts/DTLProkyonTMedium.otf);
}

#nav {
    display: block;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 55px;
    font-size: 16px;
    text-align: left;
    background-color: #34495e;
    box-sizing: border-box;
    box-shadow: 0 2px 10px 2px rgba(32, 32, 32, .3);
}
#nav span {
    cursor: pointer;
}
#nav>span {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 55px;
    line-height: 55px;
    margin-left: 15px;
    margin-right: 15px;
    color: #1abc9c;
    font-weight: 600;
    font-size: 20px;
    font-family:'DTL',"Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    transition: all 2s ease;
}
#nav>span:hover {
    color: #fff;

}
#nav i{
    display: block;
    position: relative;
    top:-60px;
    margin-left: 1px;
    width: 0;
    height: 100%;
    z-index: 15;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, .075);
    transition: all 0.3s linear;
}
#nav .nav-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 73px;
    line-height: 60px;
    height: 55px;
    font-size: 16px;
    /*color: #fff;*/
    color: #ecf0f1;
    /*overflow: hidden;*/
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
    transition: color 0.7s linear;
    z-index: 20;
}
#nav .active-link{
    background-color: #2C3E50;
    color: #16A085;
}
#nav>a:hover {
    color: #1cedcb;
    text-decoration: none;
}
#nav a:hover>i{
    width: 98%;
    background-color: #2C3E50;
}
#nav a:active {
    color: #1cedcb;
    text-decoration: none;
}
#nav a:link {
    text-decoration: none;
}
#nav a:visited  {
    text-decoration: none;
}
#nav a span {
    display: inline;
    position: relative;
    z-index: 30;
}



#nav .fa {
    font-size: 16px;
}
#bar-search {
    margin-right: 90px;
}
.bar-menu {
    margin-right: 20px;
}
.bar-menu>span:nth-child(2){
    display: inline-block;
    margin-left: -2px;
}

/*消息提示红点*/
.new-msg:after {
    content: "●";
    color: #DA0722;
    font-size: 16px;
    position: relative;
    margin-left: -15px;
    top: -8px;
}

.sub-nav {
    display: none;
    position: absolute;
    margin-top: 10px;
    margin-left: 0;
    background-color: #34495e;
    width: 100px;
    padding: 5px 3px;
    border-radius: 2px;
}
.sub-nav li {
    width: calc(100% - 10px);
    padding: 5px;
    border-radius: 3px;
    transition: all 0.3s ease-out 0s;
}
.sub-nav li a {
    display: block;
    width: 100%;
    color: #fff;
    text-indent: 1em;
}
.sub-nav li a:hover {
    color: #fff;
}
.sub-nav li:hover {
    background-color: #1ABC9C;
}
.sub-nav:before {
    content: "";
    border-style: solid;
    border-width: 0 9px 9px;
    border-color: transparent transparent #34495E;
    height: 0;
    position: absolute;
    left: 15px;
    top: -9px;
    width: 0;
}


#search-nav {
    margin-left: 590px;
}
#user-bar {

    display: block;
    position: relative;
    float:right;
}
#user-bar li{
    display: inline-block;
}
#user-bar a {
    color:#fff !important;
    cursor: pointer;

}
#user-bar a:hover {
    color: #1abc9c;
}
#user-bar a:hover {
    color: #1cedcb !important;
    border-bottom: 1px solid #1cedcb;
}
#user-bar.log {
    width:70px !important;
}
#user-bar.log .login-btn,#user-bar.log .register-btn{
    display: none;
}
#user-bar.unlog {
    width:100px !important;
}
#user-bar.unlog .user-btn {
    display: none;
}
#user-nav {
    right: 3px;
}
#user-nav:before {
    content: "";
    border-style: solid;
    border-width: 0 9px 9px;
    border-color: transparent transparent #34495E;
    height: 0;
    position: absolute;
    right: 40px;
    left: inherit;
    top: -9px;
    width: 0;
}

