html {
    background-color: #1ABC9C;
    height: auto;
    min-height: 100%;
    margin: 0;
}
body {
    display: block;
    text-align: center;
    margin: 0;
    background-color: #1ABC9C;
    /*height: auto;*/
    height: 100%;
}
.full-screen{
    opacity: 0;
    /*height: 100%;*/
    height: auto;
}
h1 {
    position: relative;
    margin-top: 10px;
    color: #fff;
    opacity: 0.94;
    font-weight: bold;
    font-size: 3em;
}
#container {
    display: block;
    position: relative;
    z-index: 0;
    margin: 45px auto;
    width: 960px;
    height: auto;
    min-height: 500px;
    overflow: hidden;
    border-radius: 2px;
    font-family: "Microsoft YaHei","Microsoft Yahei","微软雅黑",Helvetica Neue, Helvetica, Arial,"Helvetica Neue","Courier New", Courier;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 0 20px 5px rgba(32, 32, 32, .2);
    background-color: rgba(255, 255, 255, .94);
    transition: height 0.3s ease;
    /*animation: 1.5s 0.5s show forwards ;*/
}
.moving-show-animate {
    opacity: 0;
    animation:  0.7s moving-show linear forwards;
    -moz-animation:  0.7s moving-show linear forwards;
    -webkit-animation:  0.7s moving-show linear forwards;
    -ms-animation: 0.7s moving-show linear forwards;
}
#main-section {
    width: 100%;
    height: auto;
    min-height: calc(100% - 200px);
    transition: height 0.3s ease;

}

.main-blocks{
    display: none;
    width: 100%;
    height: auto;
    min-height: 100%;
    clear: both;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: height 0.3s ease;
}

.left-align{
    text-align: left;
}




@keyframes moving-show {
    20%{  opacity: 0;  margin-left: -300px;  }
    75%{  opacity: 0.8;  margin-left: 10px;  }
    85%{  opacity: 0.9;  margin-left: -5px;  }
    90%{  opacity: 0.95;  margin-left: 0px;  }
    93%{  opacity: 1;  margin-left: 0px;  }
    100%{  opacity: 1;  margin-left: 0;  }
}
@-moz-keyframes moving-show {
    20%{  opacity: 0;  margin-left: -300px;  }
    75%{  opacity: 0.8;  margin-left: 10px;  }
    85%{  opacity: 0.9;  margin-left: -5px;  }
    90%{  opacity: 0.95;  margin-left: 0px;  }
    93%{  opacity: 1;  margin-left: 0px;  }
    100%{  opacity: 1;  margin-left: 0;  }
}
@-webkit-keyframes moving-show {
    20%{  opacity: 0;  margin-left: -300px;  }
    75%{  opacity: 0.8;  margin-left: 10px;  }
    85%{  opacity: 0.9;  margin-left: -5px;  }
    90%{  opacity: 0.95;  margin-left: 0px;  }
    93%{  opacity: 1;  margin-left: 0px;  }
    100%{  opacity: 1;  margin-left: 0;  }
}
@-ms-keyframes moving-show {
    20%{  opacity: 0;  margin-left: -300px;  }
    75%{  opacity: 0.8;  margin-left: 10px;  }
    85%{  opacity: 0.9;  margin-left: -5px;  }
    90%{  opacity: 0.95;  margin-left: 0px;  }
    93%{  opacity: 1;  margin-left: 0px;  }
    100%{  opacity: 1;  margin-left: 0;  }
}
