.modal-background {
    display: table;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1ABC9C;
    z-index: 100;
    top: 0;
    text-align: center;
}
.active-modal {
    display: table;
}
.modal-oj-title{
    font-family: DTL;
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: -50px;
    word-spacing: 0.3em;
    cursor: pointer;
    /*text-shadow: 3px 4px 2px rgba(0,0,0,.5),3px 4px #888;*/

}
.left-intro {
    display: inline-block;
    vertical-align: top;
    margin: auto;
    margin-top: 100px;
    margin-right: 30px;
    font-family: DTL;
    line-height: 40px;
    text-align: right;
    letter-spacing: normal;
    font-weight: normal;
    font-family: "Microsoft YaHei","Microsoft Yahei","微软雅黑","","Helvetica Neue","Courier New", Courier, monospace;
    /*text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);*/
}
.modal-window {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: #ECF0F1;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 350px;
    height: auto;
    min-height: 250px;
    border-radius: 4px;
    font-family: "Microsoft YaHei","Microsoft Yahei","微软雅黑","","Helvetica Neue","Courier New", Courier, monospace;
    /*box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, .07);*/
    /*overflow: hidden;*/
}
.modal-window:before {
    content: "";
    display: block;
    position:absolute ;
    left: -12px;
    top: 30px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #ECF0F1;
}
.modal-content {
    display: block;
    position: relative;
    height: auto;
    padding-bottom: 15px;
}
.button {
    display: block;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 80%;
    height: 40px;
    background-color: #16a085;
    color: #fff;
    font-size: 18px;
    line-height: 42px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button:focus,.button:hover {
    background-color: #1bd4b3;
}
.button:active {
    background-color: #16a085;
}

.flat-link {
    /*color: #bdc3c7;*/
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: #95a5a6;
    font-size: 14px;
    text-decoration: underline;
    transition: all ease 0.618s;
}
.flat-link:hover {
    color: #2ecc71;
}
