.Top-Message {
    display: block;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 36px;
    font-size: 16px;
    opacity: 0;
    color: #fff;
    text-align: left;
    line-height: 35px;
    text-indent: 3em;
    z-index: 9999999;
    border:1px solid rgba(255, 255, 255, .5);

    animation:  0.5s show-top-message ease forwards, 2s 0.5s breath ease infinite;
    -moz-animation:  0.5s show-top-message ease forwards, 2s 0.5s breath ease infinite;
    -webkit-animation:  0.5s show-top-message ease forwards, 2s 0.5s breath ease infinite;
    -ms-animation: 0.5s show-rop-message ease forwards, 2s 0.5s breath ease infinite;
}
.Top-Message-success {
    background-color: #27ae60;
}
.Top-Message-fail {
    background-color: #e74c3c;
}
.Top-Message-warning {
    background-color: #e67e22;
}
.Top-Message-normal {
    background-color: #3498db;
}
/**/
.Top-Message div {
    display: block;
    position: absolute;
    top:3px;
    right: 30px;
    width: 30px;
    height: 30px;
    /*border: 1px solid #fff;*/
    opacity: 0.8;
    border-radius: 100%;
    font-size: 25px;
    cursor: pointer;
    line-height: 26px;
    transition: all ease 0.5s;
}
.Top-Message div:after {
    content: '×';
    display: block;
    position: absolute;
    line-height: 27px;
    left: -42px;
}
.Top-Message div:hover {
    transform:rotate(90deg);
}



@keyframes show-top-message {
    from { opacity: 0; }
    to {opacity: 1; }
}
@-moz-keyframes show-top-message {
    from {opacity: 0; }
    to {opacity: 1; }
}
@-webkit-keyframes show-top-message {
    from {  opacity: 0;  }
    to {  opacity: 1;  }
}

@keyframes breath {
    0% { opacity: 0.9; }
    50% {opacity: 1}
    100% {opacity: 0.9; }
}
@-moz-keyframes breath {
    0% { opacity: 0.9; }
    50% {opacity: 1}
    100% {opacity: 0.9; }
}
@-webkit-keyframes breath {
    0% { opacity: 0.9; }
    50% {opacity: 1}
    100% {opacity: 0.9; }
}

